.home{
   background-image: linear-gradient(180deg, pink,wheat,whitesmoke,white);
  width:100%;
  height:100%
}
/* .container{
   padding-top: 55px;
   align-content: center;
} */
.text-center{
   font-weight:bold;

}
.card{
   justify-content:center;
 margin-top: 50px;
   border-radius: 25px;
   height:400px;
   width:400px;
   background-color: whitesmoke;
   display: block;
   margin-left: auto;
   margin-right: auto ;
}
 

 .navbar-toggle {
   float: left !important;
 }

 .fixedImage{
    margin-top:35px;
    position: center;
 }
 /* .cloudClass{
   margin-top: -40px;
  } */
  
  .cloudMove{
     margin-top: 12px;
     color: white;
     filter: drop-shadow(1px 1px 5px white);
     animation-name: cloudMove;
     animation-iteration-count: infinite;
     animation-duration: 10s;
     animation-timing-function: ease-in-out;
     animation-duration: alternate;
  }
  
  @keyframes cloudMove{
     from{margin-left: -55px;}
     to{margin-left: 65px;}
  }
 
  /* img{
     position: center;
     margin-top: 100px;
  } */

 .btn1{
    border-radius: 25px;
   padding-top: 15px;
   
 }

/* .cloud{
   top: -90px;
} */

 /* .images{
    display: block;
    top:-20px;
 } */

 @media screen and (max-width:600px){
   .container{
      top:50%;
      left:40%;
   }
   .home{
    height: 700px;
 }
}

